body {
  background-color: #fce5ae;
}

.grid {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
}

.imgHome {
  width: auto;
  border-radius: 15px;
}

.HomeTxt {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: #000;
  text-shadow: 1px 1px 1px #ffffff;
}

.Hometxt1 {
  color: #000;
  text-shadow: 1px 1px 1px #ffffff;
}

.colimg1 {
  float: right;
}

h2 {
  color: rgb(0, 126, 245);
}

h3 {
  font-weight: lighter;
}

.rr {
  text-align: left;
}

.rrr {
  text-align: right;
}

.rrrr {
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  h3 {
    font-size: 21px;
  }
}

@media only screen and (max-width: 500px) {
  h3 {
    font-size: 17px;
  }
}
